<!DOCTYPE html>

<html lang="en">

<head>
	{% include "head.html" %}
</head>

<body>
	{%- block header %}
	{% include "header.html" %}
	{% endblock %}

	{%- block nav %}
	{% include "nav.html" %}
	{% endblock %}

	{% include "subnav.html" %}
	{% block document %}
	<div id="content">
		<div id="content-examples" style="display: none">
			<div id="exampleWelcome">
				<ul>
					<li><h4>Here you can use the search bar to search in all FreeFEM examples instead</h4></li>
					<li><h4>The list of all matching examples on the right is updated for each new query</h4></li>
					<li><h4>Clicking on a search hit or on an example on the right brings up the corresponding script from GitHub</h4></li>
					<li><h4>You can also filter the list on the right by selecting one or more intersecting categories on the left tree </h4></li>
				</ul>
			</div>
			<div id="exampleCode" spellcheck="false" style="display: none">
				<h2><div id='ExampleLinkToGitHub'></div><div id='markdowntoggle'></div><!-- input type="checkbox" id="checkbox-markdown-toggle"/> <!-- <span id="exampleSave">Save as EDP</span> --></h2>
				<div id="mdout"></div>
				<textarea id="code"></textarea>
			</div>
		</div>
		<div id="content-doc">
			{% block body %} {% endblock %}
			<div class="content-nav-buttons" role="navigation">
				{%- if prev %}
				<a href="{{ prev.link|e }}" class="btn-neutral" title="previous topic" rel="previous"><span class="fa fa-arrow-circle-left"></span> Previous topic: {{ prev.title }}</a>
				{%- endif %}
				{%- if next %}
				<a href="{{ next.link|e }}" class="btn-neutral" title="next topic" rel="next">Next topic: {{ next.title }} <span class="fa fa-arrow-circle-right"></span></a>
				{%- endif %}
			</div>
		</div>
	</div>
	{% endblock %}
	{% include "toc.html" %}

	{%- block footer %}
	{% include "footer.html" %}
	{% endblock %}

	<!-- Common -->
	<script async src="{{ pathto('_static/js/common.js', 1)}}"></script>
	<!-- Nav -->
	<script async src="{{ pathto('_static/js/nav.js', 1)}}"></script>
	<!-- Subnav -->
	<script async src="{{ pathto('_static/js/subnav.js', 1)}}"></script>
	<!-- MathJax -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	<!-- Treejs -->
	<script src="{{ pathto('_static/js/tree.min.js', 1)}}"></script>
	<!-- CodeMirror -->
	<script src="{{ pathto('_static/js/codemirror.js', 1)}}"></script>
	<script src="{{ pathto('_static/js/runmode.js', 1)}}"></script>
	<script src="{{ pathto('_static/js/searchcursor.js', 1)}}"></script>
	<script src="{{ pathto('_static/js/mode/freefem/freefem.js', 1)}}"></script>
	<!-- Markdown-it -->
	<script src="https://cdn.jsdelivr.net/markdown-it/8.2.2/markdown-it.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/markdown-it-mathjax@2.0.0/markdown-it-mathjax.min.js"></script>
	<script src="{{ pathto('_static/js/markdownit.js', 1)}}"></script>
	<script type="module">
	import gerhobbeltmarkdownItFrontMatter from 'https://cdn.jsdelivr.net/npm/@gerhobbelt/markdown-it-front-matter@0.2.3-4/+esm'
	md.use(gerhobbeltmarkdownItFrontMatter);
	</script>

	<!-- Github -->
	<script async src="{{ pathto('_static/js/github.js', 1) }}"></script>
	<!-- Button Strip -->
	<script src="{{ pathto('_static/js/buttonstrip.min.js', 1)}}"></script>
	<!-- Search -->
	<script src="{{ pathto('_static/js/examples.js', 1)}}"></script>
	<script src="{{ pathto('_static/js/mathjax-config.js', 1) }}"></script>
	<script src="{{ pathto('_static/js/lunr.js', 1) }}"></script>
	<script src="{{ pathto('_static/lunr/lunr_index.js', 1) }}"></script>
	<script src="{{ pathto('_static/lunr/lunr_index_edps.js', 1) }}"></script>
	<script src="{{ pathto('_static/js/search.js', 1)}}"></script>
	<script>
		initSearch('{{pathto("", 1)}}')
	</script>
</body>

</html>
