<!DOCTYPE html>

<html lang="en">

<head>
	{% include "head.html" %}
</head>

<body>
	{%- block header %}
	{% include "header.html" %}
	{% endblock %}

	{%- block nav %}
	{% include "nav.html" %}
	{% endblock %}

	{% include "subnav.html" %}
	{% block document %}
	<div id="content">
		{% block body %} {% endblock %}
		<div class="content-nav-buttons" role="navigation">
			{%- if prev %}
			<a href="{{ prev.link|e }}" class="btn-neutral" title="previous topic" rel="previous"><span class="fa fa-arrow-circle-left"></span> Previous topic: {{ prev.title }}</a>
			{%- endif %}
			{%- if next %}
			<a href="{{ next.link|e }}" class="btn-neutral" title="next topic" rel="next">Next topic: {{ next.title }} <span class="fa fa-arrow-circle-right"></span></a>
			{%- endif %}
		</div>
	</div>
	{% endblock %}
	{% include "toc.html" %}

	{%- block footer %}
	{% include "footer.html" %}
	{% endblock %}

	<!-- Common -->
	<script async src="{{ pathto('_static/js/common.js', 1)}}"></script>
	<!-- Nav -->
	<script async src="{{ pathto('_static/js/nav.js', 1)}}"></script>
	<!-- Subnav -->
	<script async src="{{ pathto('_static/js/subnav.js', 1)}}"></script>
	<!-- MathJax -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	<!-- Search -->
	<script src="{{ pathto('_static/js/mathjax-config.js', 1) }}"></script>
	<script src="{{ pathto('_static/js/lunr.js', 1) }}"></script>
	<script src="{{ pathto('_static/lunr/lunr_index.js', 1) }}"></script>
	<script src="{{ pathto('_static/js/search.js', 1)}}"></script> 
	<script>
		initSearch('{{pathto("", 1)}}')
	</script>
	<!-- Github -->
	<script async src="{{ pathto('_static/js/github.js', 1) }}"></script>
</body>

</html>
