<nav id="nav">
	<div style="display: none;">
		{{ toctree(collapse=False, maxdepth=-1) }}
	</div>

	<div class="nav-links" id="staticNav">
	</div>

	<button class="nav-btn" onclick="openNav()"><i class="fa fa-bars"></i></button>

	<div id="sideNav" class="sidenav">
		<div class="sideNavHeader">
			{% include "../_static/img/Logo.svg" %}
			<a class="closebtn" href="#" onclick="closeNav()"><i class="fas fa-times"></i></a>
		</div>
		<div id="dynamicSideNav">
		</div>
	</div>

	{%- block search %}
	{% include "search.html" %}
	{% endblock %}
</nav>
