header {
  grid-row: 1;
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: 3.75rem;
  grid-template-columns: 25% auto 25%;
  align-items: center;
  justify-items: stretch;
  background-color: #FFF;
  color: #00007F;
  border-bottom: 2px solid #EFEFEF;
  position: sticky;
  top: 0;
  z-index: 1;
}

header p {
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
  font-size: 1rem;
}

header a {
  color: #00007F;
}

header a:visited {
  color: #00007F;
}

header .header-logo {
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
}

header .header-logo img {
  height: 2.5rem;
  margin: 0 3.75rem 0 1rem;
  vertical-align: middle;
}

header .header-github {
  grid-row: 1;
  grid-column: 3;
  justify-self: right;
  margin: 0 15px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: 0 .5rem;
}

header .header-github i {
  grid-row: 1 / 3;
  grid-column: 2;
  font-size: 30px;
}

header .header-github-title {
  grid-row: 1;
  grid-column: 1;
  justify-self: right;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 0.9em;
  color: #00007F;
}

header .header-github-stars {
  grid-row: 2;
  grid-column: 1;
  justify-self: right;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  display: none;
  color: #00007F;
}

header .header-github:hover, .header-github-stars:hover, .header-github-title {
  color: #0000FF;
}
