@media screen and (max-width: 1200px){
	body {
		grid-template-columns: 0 70% 30% !important;
		grid-template-rows: 62px 60px auto auto !important;
	}

	.up-button {
		position: fixed !important;
		right: 30% !important;
		top: 60px !important;
	}

	header {
		grid-template-columns: 50% 0 50%;
		position: static !important;
	}

	header .header-logo img {
		margin: 0 1.25rem !important;
	}

	nav {
		grid-row: 2;
		grid-column: 1 / 4;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 2.77rem auto 32.77rem;
		align-items: center;
		font-size: 1rem;
		border-bottom: 2px solid #EFEFEF;
		background-color: #F7F7F9;
	}

	.search-container {
		grid-row: 1;
		grid-column: 3;
		justify-self: end;
		justify-content: flex-end;
	}

	#searchInput {
		margin-right: 0.55rem;
	}

	#searchResults {
		right: 0 !important;
		width: 70%;
		left: unset;
	}

	nav #staticNav div:not(.current) {
		display: none;
	}

	nav .nav-links {
		grid-row: 1;
		grid-column: 2;
		display: block;
		justify-self: start;
	}

	nav .nav-btn {
		display: block !important;
		justify-self: center;

		background-color: transparent;
		color: #00007F;
		border: none;
		padding: .8rem;
		margin: 0;
		font-size: 1.11rem;
		cursor: pointer;
	}

	nav .nav-btn i:hover {
		color: black !important;
	}

	#sideNav p {
		margin: 0 .55rem 0 0;
		font-family: "Roboto", sans-serif;
	}

	#subnav {
		display: none;
	}

	#content {
		grid-column: 1 / 3 !important;
		justify-self: stretch;
	}

	#toc > div {
		top: 70px !important;
	}
}

/** FOR MOBILE PHONES **/
@media screen and (max-width: 600px) {
	body {
		grid-template-columns: 0 100% 0 !important;
		grid-template-rows: auto 60px auto 5.55rem !important;
	}

	.up-button {
		right: 0 !important;
	}

	header {
		grid-template-columns: 100% 0 0;
	}

	header .header-logo {
		margin: auto;
	}

	header .header-logo img {
		margin: auto !important;
	}

	header .header-github {
		display: none;
	}

	nav {
		grid-template-columns: 2.77rem auto auto;
	}

	nav .nav-links {
		display: none !important;
	}

	#searchResults {
		min-width: 100vw;
	}

	#searchInput {
		width: 100%;
	}

	#searchInput:focus {
		width: 100%;
	}

	#content {
		grid-column: 1 / 4 !important;
		margin-bottom: 10vh !important;
	}

	#toc {
		display: none;
	}

	footer {
		display: grid;
		grid-template-rows: auto auto auto;
		grid-template-columns: auto;
		justify-items: center;
	}

	footer img {
		margin-bottom: 0.55rem;
	}

	/** CONTENT **/

	table.highlighttable {
		border-radius: 0;
		margin: 1rem -1rem;
	}

	table:not(.highlighttable) {
		max-width: 100%;
		display: inline-block;
	}

	table {
		white-space: nowrap;
	}

	table.authors {
		text-align: left;
	}

	blockquote {
		margin: 0;
	}

	.content ol {
		padding-left: 0;
	}

	.figure.compound {
		flex-direction: column !important;
		align-content: space-evenly !important;
	}

	.subfigure {
		min-width: 100% !important;
	}

	#welcome-to-freefem-documentation img {
	    width: 60% !important;
	}

	.admonition {
		padding: 0 0.5rem;
	}

	.literal.highlight {
		word-wrap: break-word;
	}

	p {
		overflow-x: auto;
		overflow-y: hidden;
	}

	li {
		margin: 0;
	}

	.content-nav-buttons {
	        flex-direction: column;
        }
}
