nav {
	grid-row: 1;
	grid-column: 2 / 3;
	display: flex;
	grid-template-rows: 3.75rem;
	justify-items: center;
	align-items: center;
	background-color: transparent;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 2;
	overflow-anchor: none;
}

nav .nav-links {
	display: none;
}

nav .nav-btn {
	display: none;
}

nav .sidenav {
	display: none;
}

/** RESPONSIVE **/

/** NAVIGATION BUTTON **/
nav .nav-btn {
	/* grid-row: 1;
	grid-column: 1; */

	display: none;
}

/** SIDENAV **/
nav .sidenav {
	width: 0;
	height: 100%;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 10px 18px #888888;
}

nav .sidenav .closebtn {
	padding: 1rem;
	align-self: stretch;
	text-align: right;
	background-color: #F7F7F9;
	position: absolute;
	right: .2rem;
}

nav .sidenav .previousNav {
	padding: 1rem;
	display: block;
	background-color: #F7F7F9;
}

nav .sidenav .sidenav-title {
	padding: 1rem;
	font-weight: bold;
	cursor: default;
	background-color: #F7F7F9;
}

nav .sidenav .nav-items {
	max-height: 70vh;
	overflow: auto;
}

nav .sidenav .nav-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 1.11rem 1.11rem;
	color: black;
	transition: 0.3s;
	cursor: pointer;
	border-bottom: 1px solid #EFEFEF;
}

nav .sidenav .nav-item:hover {
	color: #00007F;
}

nav .sidenav i {
	color: black;
}

#sideNav svg {
	width: 200px;
	margin: 1.11rem;
}

.sideNavHeader {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #F7F7F9;
}

.sideNavHeader h1 {
	color: #0000FF;
}
