#toc {
	grid-row: 3;
	grid-column: 3;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #F7F7F9;
	border-left: 2px solid #EFEFEF;
	font-size: .9rem;
	overflow-anchor: none;
}

#toc > div {
	position: sticky;
	position: -webkit-sticky;
	top: 3.75rem;
	max-height: calc(100vh - 3.75rem);
	padding: 1.1rem .55rem .55rem .55rem;
	overflow: auto;
	width: 100%;
}

#toc ul {
	list-style: none;
}

#toc div > ul > li > a {
	color: #00007F;
}

#toc div > ul > li {
	font-weight: 700;
	margin: 0.75rem 0;
}

#toc li.blur {
	display: list-item;
}

#toc div > ul > li > ul > li {
	font-weight: normal;
	border-bottom: 1px solid #EFEFEF;
	padding: 0.75rem 0;
}

#toc div > ul > li > ul > li > ul > li:before {
	border: solid currentColor;
  border-width: 0 .1em .1em 0;
  display: inline-block;
	margin: .1rem;
  padding: .2em;
	transform:rotate(-45deg);
	content:'';
}

#toc div > ul > li > ul > li > ul > li {
	padding: 0.5rem 0;
}

#toc div > ul > li > ul > li > ul > li a {
	padding-left: .5rem;
}

#toc a:hover {
  color: #0000FF;
}

#toc li.blur > a {
	color: #00007F;
}




#toc li.blur > a:hover {
  color: #0000FF;
}
