.treejs {
  margin-left: -20px;
}

#linksContainer > h3 {
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.highlight-keyword {
  background-color: yellow;
}

#ExampleLinkToGitHub {
  display: inline-block;
  width:100%;
}

#checkbox-markdown-toggle {
  margin-right: 2em;
}

#checkbox-markdown-toggle i {
	color: rgba(0.75, 0.75, 0.75, 0.1);
	transition: color .25s, opacity .25s;
}

#checkbox-markdown-toggle:hover i {
	color: rgba(0,0,0,.54);
}

.button-strip {
  margin-right: 2em;
  width: 100px;
  height: 20px;
  border: 2px solid #3f51b5;
  border-radius: 3px;
  display: flex;
}

.button-strip-disabled {
  border: 2px solid #9c9c9c;
}

.strip-button {
  background-color: white;
  color: #3f51b5;
  width: 50%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  transition: background-color .4s linear, color .2s linear;
  cursor: pointer;
}
.strip-button span {
  color: inherit;
}
.strip-button-text {
  vertical-align: middle;
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #3f51b5;
  margin: 0px;
  padding: 0px;
}
.active-strip-button {
  background-color: #3f51b5;
  color: white;
}
.disabled-strip-button {
  background-color: rgb(207, 207, 207);
  color: #898989;
  pointer-events: none;
}

#exampleCode {
  background-color: #efefef;
  /* height: 31.25rem; */
  overflow-y: auto;
  min-width: 350px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
}

#exampleCode h2 {
  margin-left: 1rem;
  display: flex;
}

#mdout {
  background-color: #ffffff;
  /* height: 31.25rem; */
  overflow-y: auto;
  min-width: 350px;
  font-size: 1rem;
}

#mdout img {
  width: 100%;
}

#code {
  background-color: #efefef;
  /* height: 31.25rem; */
  overflow-y: auto;
  min-width: 350px;
  font-size: 0.75rem;
}

#code pre {
  margin: 0.625rem;
}